<h1>About</h1>
<p>
  This web application was made for my fellow students who have problems managing their debt.
The app was meant to take all of the data a student gives and report it back in a neat and organized fashion to where
the student can make a good payback plan in a good amount of time.	

</p>
