<h1>Help</h1>
<p>
  To use this application start by creating an account and adding your current balance and/or addition transactions.
You can then select a payment plan that is good for you.  For additional questions feel free to contact me
</p>
